<ion-view view-title="About">
    <ion-content class="has-header page-has-header">

        <div class="content dropdowns-page">

            <ks-swiper-container loop="true" pagination-is-active="true" pagination-clickable="true" autoplay="2500" class="gallery">
                <ks-swiper-slide class="swiper-slide" ng-repeat="image in gallery">
                    <div class="section-image" style="background: url('{{image.image_url}}') no-repeat center center; background-size: cover">
                        <p>{{image.type}}</p>
                    </div>
                </ks-swiper-slide>
            </ks-swiper-container>


            <a id="flybtn" ng-click="openModal('fly')">
                <div class="card">
                    <div class="icon">
                        <i class="typcn typcn-plane"></i>
                    </div>
                    <p class="card-text">Fly Thru</p>

                </div>
            </a>


            <a id="videobtn" ng-click="openModal('video')">
                <div class="card">
                    <div class="icon">
                        <i class="typcn typcn-video"></i>
                    </div>
                    <p class="card-text">Centurion Video</p>
                </div>
            </a>

            <a id="locationbtn" ng-click="openModal('location')">
                <div class="card">
                    <div class="icon">
                        <i class="typcn typcn-location"></i>
                    </div>
                    <p class="card-text">Location</p>
                </div>
            </a>


            <a id="contactbtn" ui-sref="menu.contact">
                <div class="card">
                    <div class="icon">
                        <i class="typcn typcn-phone-outline"></i>
                    </div>
                    <p class="card-text">Contact Us</p>
                    <span class="typcn typcn-chevron-right-outline card-arrow"></span>
                </div>
            </a>

        </div>
    </ion-content>
</ion-view>