<ion-view view-title="Booking">
    <ion-content>
        <div headermenu title="'Booking'" home="'visitors'"></div>

        <div collection-repeat="contact in listing"
             item-width="100%" 
             item-height="170"
             ui-sref="tour({ id: contact.id })"
             class="reciprocals"
             >
            <div class="section-image" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('{{contact.image_url}}') no-repeat center center; background-size: cover">
                <span ui-sref="golf-booking({ id: 0 })" class="typcn typcn-plus-outline add"></span>
		<p class="list-text">{{contact.name}}</p>
            </div>
        </div>
        
    </ion-content>
</ion-view>