<ion-view view-title="Contact">
    <ion-content  <ion-content class="has-header page-has-header">
        
            <div collection-repeat="contact in listing"
                 item-width="100%" 
                 item-height="170"
                 ui-sref="menu.contactus({ id: contact.id })"
                 class="link"
                 >
                <div class="section-image" style="background: url('{{contact.avatar}}') no-repeat center center; background-size:cover;">
                    <p class="list-text">{{contact.name}}<span> - {{contact.tagline}}</span></p>
                </div>
            </div>

    </ion-content>
</ion-view>
