<ion-view view-title="visitor" hide-nav-bar="true">
    <ion-content scroll="false" >
        <div class="quadrants">
            <a href="#/visitors-booking" class="quadrant tl">
                <div class="area">
                    <div>
                        <i class="typcn typcn-book"></i>Booking
                    </div>
                </div>	
            </a>
            <a href="#/about" class="quadrant tr">
                <div class="area">
                    <div>
                        <i class="typcn typcn-info-large-outline"></i>About
                    </div>
                </div>	
            </a>
            <a href="#/contact" class="quadrant bl">
                <div class="area">
                    <div>
                        <i class="typcn typcn-phone"></i>Contact
                    </div>	
                </div>	
            </a>
            <a href="#/membership" class="quadrant br">
                <div class="area">
                    <div>
                        <i class="typcn typcn-group-outline"></i>Membership
                    </div>
                </div>	
            </a>
        </div>		

        <a href="#/login" class="home-visitors">Home</a>
    </ion-content>
</ion-view>