<ion-view view-title="{{contact.name}}">
    <ion-content class="has-header page-has-header">
        <div class="content">

            <div class="section-image" style="background: url('{{contact.image_url}}') no-repeat center center; background-size: cover">
                <p class="list-text">{{contact.name}}</p>
            </div>	

            <form name="form" ng-submit="sendForm()" class="booking-form">
                <p>* Name</p>
                <span id="name-require" ng-show="form.name.$error.required && form.name.$touched">Your name is required.</span>
                <input name="name" type="text" ng-model="formData.name" required>
                <p>* Email</p>
                <span id="email-require" ng-show="form.email.$error.required && form.email.$touched">An email is required.</span>
                <span id="email-valid" ng-show="form.email.$error.email && form.email.$touched">This email is not valid.</span>
                <input name="email" type="email" ng-model="formData.email" required>
                <p>Phone</p>
                <input type="tel" ng-model="formData.phone">
                <p>* Message</p>
                <span id="message-require" ng-show="form.message.$error.required && form.message.$touched">A message is required.</span>
                <textarea name="message" ng-model="formData.message" required></textarea>
                <input id="terms" type="checkbox" class="terms" ng-model="formData.terms">
                <label class="terms-label" for="terms">Accept <a href="#/terms">Terms and Conditions</a></label>
                <button id="submit" type="submit" class="btn btn-block btn-positive">Send</button>
            </form>
        </div>

    </ion-content>
</ion-view>