<ion-view view-title="News">
    <ion-content class="has-header page-has-header">
        <div collection-repeat="post in posts|  orderBy: '-created_at'"
             item-width="100%" 
             item-height="130px"
             ui-sref="menu.newsItem({ id: post.id })"
             >
            <div class="news-headline">
                <p class="news-title">{{post.title}}</p>
                <img src="img/logo.png">
                <p class="news-time">{{post.created_at| dateFormat:"h:mma d MMM"}}</p>
            </div>
        </div>

    </ion-content>
</ion-view>