<ion-view view-title="My Bookings">
    <ion-content class="has-header page-has-header">

        <div>

            <p class="no-bookings" ng-if="bookings == 0">You have no future bookings!</p>
            <div collection-repeat="list in lists"
                 item-width="100%"
                 item-height="60px"
                 class="booking-section bookings"
                 ng-hide="list.bookings.length == 0"
                 >

                <div ng-if="list.category_id" ui-sref= "{{list.category_id == 2 ? 'menu.restaurant-booking({id: list.id})' : 'menu.golf-booking({id: list.id})'}}" class="section-image sticky" style="background: url('{{list.avatar}}') no-repeat center center; background-size: cover">
                    <p>{{list.name}}<span> - {{list.tagline}}</span></p>
                </div>

                <div ng-if="!list.category_id" ng-attr-id="{{ list.category_id == 2 ? 'golf-bookings' : 'restaurant-bookings' }}">
                    <a ui-sref= "menu.booking-status({id:list.id})" class="card" >
                        <div class="icon">
                            <p>{{list.start| dateFormat:"d "}}</p>
                            <p class="month">{{list.start| dateFormat:"MMM"}}</p>
                        </div>
                        <p class="card-text">{{list.start| dateFormat:"HH:mm"}}</p>
                        <span ng-if="list.status == 'New'" class="typcn typcn-arrow-sync-outline status"></span>
                        <span ng-if="list.status == 'Accepted'" class="typcn typcn-tick-outline status"></span>
                        <span ng-if="list.status == 'Rejected'" class="typcn typcn-times-outline status"></span>
                        <div class="card-info">
                            <p>{{list.persons}}</p>
                        </div>
                    </a>
                </div>

            </div>
        </div>
        <br/>
        <a id="new-booking-link" ui-sref="menu.new-booking" class="new-booking"><span class="typcn typcn-plus-outline"></span></a>
        <p class="new-booking-text">New Booking</p>


    </ion-content>
</ion-view>