<ion-view view-title="Home">
    <div class="bar bar-header home-bar">
        <div class="home-top">

            <p class="home-points" ng-if="!events.length > 0 && !booking_next.length > 0">Member</p>
            
            <div id="slider">
                <ks-swiper-container>
                    <ks-swiper-slide class="swiper-slide">
                        <div class="avatar" style="background: url('{{user.avatar}}') center center; background-size: cover;" ng-click="go('/account')"></div>
                        <h2 ng-click="go('/account')">{{user.name}}</h2>	
                    </ks-swiper-slide>
                    <ks-swiper-slide class="swiper-slide next-event" ng-if="booking_next.length > 0">
                        <div class="avatar" style="background: url('{{booking_next[0].listing.avatar}}') center center; background-size: cover;" ng-click="go('/bookings/status/{{booking_next[0].id}}')">
                            <p class="date">{{booking_next[0].start| myDateFormat}}</p>
                            <p class="month">{{booking_next[0].start| monthDateFormat}}</p>
                            <h2 ng-click="go('/bookings/status/{{booking_next[0].id}}')">Next Booking</h2>
                        </div>
                    </ks-swiper-slide>
                    <ks-swiper-slide class="swiper-slide" class="next-event" ng-if="events.length > 0">
                        <div ng-if="events[0].eventi.image" class="avatar" style="background: url('{{events[0].eventi.image}}') center center; background-size: cover;" ng-click="go('/event/{{events[0].eventi.id}}')">
                            <p class="date">{{events[0].eventi.date| myDateFormat}}</p>
                            <p class="month">{{events[0].eventi.date| monthDateFormat}}</p>
                        </div>
                        <div ng-if="!events[0].eventi.image" class="avatar" style="background: url('{{events[0].eventi.listing.avatar}}') center center; background-size: cover;" ng-click="go('/event/{{events[0].eventi.id}}')">
                            <p class="date">{{events[0].eventi.date| myDateFormat}}</p>
                            <p class="month">{{events[0].eventi.date| monthDateFormat}}</p>
                        </div>
                        <h2 ng-click="go('/event/{{events[0].eventi.id}}')">{{events[0].eventi.title}}</h2>
                    </ks-swiper-slide>
                </ks-swiper-container> 
            </div>



            <a href="#/new-booking" class="home-booking-button">
                <span class="typcn typcn-plus-outline"></span>
            </a>
            <div class="social-banner">
                <a href="#/friends" class="social-item"><i class="typcn typcn-group-outline"></i><span class="messages-notification" ng-bind="pending" ng-hide="pending <= 0"></span></a>
                <a href="#/chats" class="social-item"><i class="typcn typcn-messages"></i><span class="messages-notification" ng-bind="unread" ng-hide="unread <= 0"></span></a>
                <a class="social-item" ng-click="launchFacebook()"><i class="typcn typcn-social-facebook"></i></a>
                <a class="social-item" ng-click="launchTwitter()"><i class="typcn typcn-social-twitter"></i></a>
            </div>
        </div>
    </div>

    <ion-content scroll="true" class="has-header home-has-header">
        <div class="content home">

            <a href="#/bookings" class="card">
                <div class="icon">
                    <i class="typcn typcn-calender-outline"></i>
                </div>
                <p class="card-text">Bookings</p>
                <p class="card-notification" ng-hide="bookings == 0">{{bookings}}</p>
            </a>
            <a href="#/news" class="card">
                <div class="icon">
                    <i class="typcn typcn-info-large-outline"></i>
                </div>
                <p class="card-text">News</p>
                <p class="card-notification" ng-hide="posts <= 0">{{posts}}</p>
            </a>
            <a href="#/events" class="card">
                <div class="icon">
                    <i class="typcn typcn-message"></i>
                </div>
                <p class="card-text">Events</p>
            </a>
            <a href="#/account" class="card">
                <div class="icon">
                    <i class="typcn typcn-user-outline"></i>
                </div>
                <p class="card-text">Account</p>
            </a>
            <a href="#/weather" class="card">
                <div class="icon">
                    <i class="typcn typcn-weather-sunny"></i>
                </div>
                <p class="card-text">Weather</p>
            </a>
            <a href="#/reciprocals" class="card">
                <div class="icon">
                    <i class="typcn typcn-arrow-repeat"></i>
                </div>
                <p>Reciprocals</p>
                <span class="typcn typcn-chevron-right-outline"></span>
            </a>
            <a href="#/contact" class="card">
                <div class="icon">
                    <i class="typcn typcn-phone"></i>
                </div>
                <p class="card-text">Contact Us</p>
            </a>
        </div>
    </ion-content>
</ion-view>