<ion-view view-title="Home">
    <div class="bar bar-header home-bar">
        <div class="home-top">

            <p class="home-points" ng-if="!events.length > 0 && !booking_next.length > 0">Member</p>
            
            <div id="slider">
                <ks-swiper-container pagination-is-active="booking_next.length > 0 || events.length > 0" pagination-clickable="true">
                    <ks-swiper-slide class="swiper-slide">
                        <div class="avatar" style="background: url('{{user.avatar}}') center center; background-size: cover;" ng-click="go('/account')"></div>
                        <h2 ui-sref="account" id="accounttitle">{{user.name}}</h2>	
                    </ks-swiper-slide>
                    <ks-swiper-slide class="swiper-slide next-event" ng-if="booking_next.length > 0">
                        <div class="avatar" style="background: url('{{booking_next[0].listing.avatar}}') center center; background-size: cover;" ui-sref="'menu.booking-status({id: booking_next[0].id})">
                            <p class="date">{{booking_next[0].start| dateFormat:"d "}}</p>
                            <p class="month">{{booking_next[0].start| dateFormat:"MMM"}}</p>
                            <h2 ui-sref="'menu.booking-status({id: booking_next[0].id})">Next Booking</h2>
                        </div>
                    </ks-swiper-slide>
                    <ks-swiper-slide class="swiper-slide next-event" ng-if="events.length > 0">
                        <div class="avatar" style="background: url('{{events[0].eventi.image || events[0].eventi.listing.avatar}}') center center; background-size: cover;" ui-sref="menu.eventsItem({ id: events[0].eventi.id })">
                            <p class="date">{{events[0].eventi.date| dateFormat:"d "}}</p>
                            <p class="month">{{events[0].eventi.date| dateFormat:"MMM"}}</p>
                        </div>
                        <h2 ui-sref="menu.eventsItem({ id: events[0].eventi.id })">{{events[0].eventi.title}}</h2>
                    </ks-swiper-slide>
                </ks-swiper-container> 
            </div>
            
            <a id="new-booking" ui-sref="menu.new-booking" class="home-booking-button">
                <span class="typcn typcn-plus-outline"></span>
            </a>
            <div class="social-banner">
                <a id="friends" ui-sref="menu.friends" class="social-item"><i class="typcn typcn-group-outline"></i><span class="messages-notification" ng-bind="pending" ng-hide="pending <= 0"></span></a>
                <a href="#/chats" class="social-item"><i class="typcn typcn-messages"></i><span class="messages-notification" ng-bind="unread" ng-hide="unread <= 0"></span></a>
                <a class="social-item" ng-click="launchFacebook()"><i class="typcn typcn-social-facebook"></i></a>
                <a class="social-item" ng-click="launchTwitter()"><i class="typcn typcn-social-twitter"></i></a>
            </div>
        </div>
    </div>

    <ion-content scroll="true" class="has-header home-has-header">
        <div class="content home">

            <a id="bookings" ui-sref="menu.bookings" class="card">
                <div class="icon">
                    <i class="typcn typcn-calender-outline"></i>
                </div>
                <p class="card-text">Bookings</p>
                <p class="card-notification" ng-hide="bookings == 0">{{bookings}}</p>
            </a>
            <a id="news" ui-sref="menu.news" class="card">
                <div class="icon">
                    <i class="typcn typcn-info-large-outline"></i>
                </div>
                <p class="card-text">News</p>
                <p class="card-notification" ng-hide="posts <= 0">{{posts}}</p>
            </a>
            <a id="events" ui-sref="menu.events" class="card">
                <div class="icon">
                    <i class="typcn typcn-message"></i>
                </div>
                <p class="card-text">Events</p>
            </a>
            <a id="account" ui-sref="account" class="card">
                <div class="icon">
                    <i class="typcn typcn-user-outline"></i>
                </div>
                <p class="card-text">Account</p>
            </a>
            <a id="weather" ui-sref="menu.weather" class="card">
                <div class="icon">
                    <i class="typcn typcn-weather-sunny"></i>
                </div>
                <p class="card-text">Weather</p>
            </a>
            <a id="reciprocals" ui-sref="menu.reciprocals" class="card">
                <div class="icon">
                    <i class="typcn typcn-arrow-repeat"></i>
                </div>
                <p>Reciprocals</p>
                <span class="typcn typcn-chevron-right-outline"></span>
            </a>
            <a id="contact" ui-sref="menu.contact" class="card">
                <div class="icon">
                    <i class="typcn typcn-phone"></i>
                </div>
                <p class="card-text">Contact Us</p>
            </a>
        </div>
    </ion-content>
</ion-view>