<ion-view view-title="Login">
    <ion-content scroll="false">

        <video class="login-video" autoplay loop id="bgvid" webkit-playsinline>
            <source src="img/login-bg.mp4" type="video/mp4">
        </video>

        <div class="video-cover content">

            <div class="login">

                <img src="img/logo.png" class="login-logo" style="margin: 30px auto">

                <div class="content-padded">

                    <form name="form" class="login-form" ng-submit="processLogin()">
                        <div class="center">
                            <span id="email-valid " ng-show="form.email.$error.email && form.email.$touched">This email is not valid.</span>
                            <span id="email-require" ng-show="form.email.$error.required && form.email.$touched">An email is required.</span>
                        </div>
                        <div class="form-entry">
                            <div>
                                <i class="typcn typcn-user"></i>
                            </div>
                            <input type="email" name="email" placeholder="Email Address" ng-model="loginData.email" required>		
                        </div>	
                        <div class="center">
                            <span id="email-valid center" ng-show="form.password.$error.required && form.password.$touched">You need to type your password.</span>
                        </div>
                        <div class="form-entry">
                            <div>
                                <i class="typcn typcn-lock-closed-outline"></i>
                            </div>
                            <input type="password" name="password" placeholder="Password" ng-model="loginData.password" required>
                        </div>	
                        <a ng-click="processForgot()" class="forgot">Forgot Password?</a>
                        <div class="inline-buttons">
                            <button type="submit" class="btn btn-block btn-positive">Login</button>
                            <a href="#/details" class="btn btn-block btn-positive">Register</a>
                        </div>

                    </form>			
                    <a ng-click="loginFacebook()" class="btn btn-block btn-primary" style="border-radius: 40px">Facebook Connect</a>

                </div>	
            </div>

            <a ui-sref="visitors" class="visitors-link">Visitors</a>

        </div>

    </ion-content>
</ion-view>

