<ion-view view-title="Update Info">
    <ion-content class="has-header page-has-header">

        <div class="content">

            <form id="update-password" name="form" ng-submit="passwordUpdate()">
                <div class="center">
                    <span id="old-require" ng-show="form.old.$error.required && form.old.$touched">The password is required.</span>
                    <span id="old-match" ng-show="form.old.$error.match && form.old.$touched">The new password and the old should not match.</span>
                </div>
                <div class="form-entry">
                    <input name="old" match="updateData.password" not-match="true" type="password" placeholder="Old Password" ng-model="updateData.old_password" ng-trim="true" required>
                </div>
                <div class="center">
                    <span id="new1-require" ng-show="form.new1.$error.required && form.new1.$touched">The new password is required.</span>
                </div>
                <div class="form-entry">
                    <input name="new1" type="password" placeholder="New Password" ng-model="updateData.password" ng-trim="true" required>
                </div>
                <div class="center">
                    <span id="news2-require" ng-show="form.new2.$error.required && form.new2.$touched">You should rewrite your new password.</span>
                    <span id="new2-match" ng-show="form.new2.$error.match && form.new2.$touched">The password doesn't match.</span>
                </div>
                <div class="form-entry">
                    <input name="new2" match="updateData.password"  match-ignore-empty="true" type="password" placeholder="Confirm Password" ng-model="updateData.password_confirmation" ng-trim="true" required>
                        </div>
                <button type="submit" class="btn btn-block btn-positive update-button">Update</buttton>

            </form>

        </div>
        </ion-content>
</ion-view>
