<ion-view view-title="New Booking">
    <ion-content class="has-header page-has-header">

        <div class="content">

            <div class="section-image" style="background: url('{{listing.avatar}}') no-repeat center center; background-size: cover">
                <p class="list-text">{{listing.name}}</p>
            </div>


            <form ng-submit="restaurantForm()">

                <div class="booking-form">
                    <div class="card position-off-screen">
                        <div class="icon">
                            <i class="typcn typcn-user-outline"></i>
                        </div>		
                        <p class="card-text">Name</p>
                        <div class="card-info">
                            <input type="text" value="{{user.name}}" disabled="disabled">
                        </div>
                    </div>
                    <label for="people" class="card">

                        <div class="icon">
                            <i class="typcn typcn-user-outline"></i>
                        </div>
                        <p class="card-text">Guests</p>

                        <div class="card-info">
                            <p ng-bind="formData.persons"></p>
                        </div>
                    </label>
                    <select class="position-off-screen" id="people" ng-model="formData.persons">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    <label for="date" class="card">

                        <div class="icon">
                            <i class="typcn typcn-calender"></i>
                        </div>
                        <p class="card-text">Date</p>
                        <div class="card-info">
                            <span ng-bind="formData.date |  dateFormat: 'd '"></span>
                            <span class="month" ng-bind="formData.date | dateFormat: 'MMM'"></span>

                        </div>
                    </label>
                    <input id="date" class="position-off-screen" type="date" ng-model="formData.date">
                    <label for="time" class="card">

                        <div class="icon">
                            <i class="typcn typcn-time"></i>
                        </div>
                        <p class="card-text">Time</p>
                        <div class="card-info">
                            <p class="booking-amount" ng-bind="formData.time| dateFormat: 'h:mma'"></p>
                        </div>
                    </label>	
                    <input id="time" type="time" class="position-off-screen" ng-model="formData.time">	
                </div>
                <button type="submit" class="btn btn-block btn-positive">Request</button>
            </form>
        </div>
    </ion-content>
</ion-view>