@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksand';
    src: url('../fonts/Quicksand_Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

a, input, button {
    -ms-touch-action: none !important;
}

html, body {
	overflow-y: auto;
}

body { 
    -webkit-touch-callout: none; 
    -webkit-text-size-adjust: none; 
    -webkit-user-select: none; 
    -webkit-highlight: none; 
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "quicksand", sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	background: #292926;
}

.content {
	background: #292926;
	overflow-x: hidden;
}


h2 {
	font-size: 18px;
	line-height: 24px;
	font-weight: 300;
	font-variant: small-caps;
	letter-spacing: 1px;
	text-align: center;
}

h3 {
	font-size: 16px;
	line-height: 20px;
}

h4 {
	font-size: 14px;
	line-height: 18px;
}

p {	
	font-size: 13px;
	color: #fff;
}

a {
	color: #a39161;
}

a:hover,
a:active {
}

form input {
	display: block;
	margin: auto;
	width: 90%;
	color: #333;
}

/* Header */

header {
	height: 70px !important;
	background: #5A447A !important;
}

.title {
	color: #fff;
	line-height: 50px;
	margin: 20px auto 0;
	font-variant: normal;
}

.status-bar {
	position: fixed;
	z-index: 9379875968767834;
	top: 0;
	left: 0;
	right: 0;
	height: 20px;
	background: black;
}

/* No Internet */

.no-connection {
	position: fixed;
	top: -90px;
	right: 0;
	left: 0;
	height: 90px;
	background: #5A447A;
	-webkit-transition: all 1s;
	transition: all 1s;
	z-index: 100000;
}

.no-connection p {
	padding-top: 20px;
	line-height: 70px;
	width: 80%;
	margin: auto;
	text-align: center;
}

.no-connection.show {
	top: 0px;
}

.no-connection .retry {
	position: absolute;
	top: 20px;
	right: 0;
	line-height: 70px;
	text-align: center;
	display: block;
	color: #fff;
	padding: 0 20px;
	font-size: 24px;
}

/* Push Notification */

.push {
	position: fixed;
	top: -90px;
	left: 0;
	right: 0;
	height: 90px;
	background: #111;
	z-index: 209840980;
	/*border-bottom: 2px solid #5A447A;*/
	-webkit-transition: top 0.5s;
	transition: top 0.5s;
}

.show-push {
	top: 0px;
}

.push .icon {
	border-radius: 8px;
	width: 50px;
	height: 50px;
	background: url('../icon.png') no-repeat center center;
	background-size: cover;
	position: absolute;
	top: 30px;
	left: 10px;
}

.push a {
	overflow: hidden;
	position: absolute;
	height: 50px;
	width: 60%;
	line-height: 25px;
	top: 30px;
	left: 70px;
	color: #fff;
}

.push i {
	font-size: 20px;
	position: absolute;
	right: 0;
	padding: 20px 20px 0;
	top: 0;
	line-height: 70px;

}

/* Buttons
=================================*/

.back-button,
.home-button {
	position: absolute;
	display: block;
	bottom: top;
	left: 0;
	padding: 6px;
	border: 1px solid rgba(255,255,255,0.6);
	font-size: 20px;
	color: rgba(255,255,255,1);
	border-radius: 50%;
	margin: 27px 12px;
	z-index: 100;
}

.home-button {
	right: 0;
	left: auto;
}

.btn {
	margin: 20px auto;	
	width: 90%;
	font-weight: 300;
	letter-spacing: 2px;
	font-size: 16px;
}

.btn-primary {
	background: transparent;
	border-color: rgba(255,255,255,0.3);
}

.inline-buttons .btn {
	display: inline-block;
	width: 40%;
	margin-left: 5%;
	margin-right: 4%;
	margin-bottom: 0;
	color: #fff !important;
}

.three-buttons .btn {
	margin-right: 0;
	width: 26%;
	font-size: 14px;
}

/* Share Buttons 
====================================*/

.share-button {
	width: 25.7%;
	margin: 20px 0;
	margin-left: 5%;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid rgba(255,255,255,0.5);
	color: #fff;
	border-radius: 10px;
	font-size: 25px;
}

.share-button i {
	line-height: 40px;
}

.share-header {
	text-align: center;
	margin-top: 30px;
	font-size: 18px;
}

/* Re-usable Classes 
=====================================*/

.position-off-screen {
	position: absolute !important;
	top: -100% !important;
}

/* Inputs */

.form-entry input {
	background: none;
	color: #fff;
	border: none;
	border-bottom: 1px solid rgba(255,255,255,0.6);
}

.form-entry {
	width: 90%;
	margin: 10px auto;
}

/* Card */

.card {
	display: block;
	position: relative;
	border: none;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	height: 60px;	
	padding: 0;	
	overflow: hidden;
	width: 90%;
	margin: 20px auto;
	background: rgba(0,0,0,0.6);
	border-radius: 3px;
	color: #fff;
	font-size: 18px;
	font-family: 'quicksand';
}

.card .icon {
	width: 20%;
	display: inline-block;
	background: #262626;
	height: 100%;
	position: relative;
	float: left;
	text-align: center;
}

.card .icon-alt {
	background: none;
}

.card .icon i {
	width: 100%;
	line-height: 60px;
	display: block;
}

.card .icon-alt i {
	color: #5A447A;
}

.card .icon img {
	width: 50px;
	display: block;
	height: 50px;
	margin: 5px auto;
	border: 1px solid rgba(0,0,0,0.6);
	border-radius: 50%;
}


.card p {
	display: inline-block;
	float: left;
	line-height: 58px;
	padding-left: 20px;
	font-size: 15px;
	width: 80%;
	color: rgba(255,255,255,0.8);
}

.card .card-text {
	width: 80%;
}

.card .status {
	position: absolute;
	top: 0;
	line-height: 55px;
	right: 22%;
	font-size: 20px;
}

.card .card-notification {
	width: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 20px;
	background: #5A447A;
	line-height: 20px;
	height: 20px;
	text-align: center;
	padding: 0 15px;
	border-radius: 10px;
	color: rgba(255,255,255,0.7);
}

.card .icon p,
.card .card-info span {
	text-align: center;
	display: block;
	color: #fff;
	width: 100%;
	margin: 0;
	padding: 0;
	padding-top: 12px;
	font-weight: 300;
	font-size: 22px;
	line-height: 22px;
	font-family: 'quicksand';
	font-weight: bold;
}

.card .icon .month,
.card .card-info .month {
	padding-top: 0;
	font-size: 16px;
	font-weight: normal;
}

.card .card-info {
	height: 60px;
	width: 20%;
	position: absolute;
	top: 0;
	right: 0;
	background: #5A447A;
}

.card .card-info .status {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 60px;
	text-align: center;
	padding: 0;
}

.card .card-info p {
	width: 100%;
	height: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 16px;
}


.card label {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 90%;
	height: 90%;
	z-index: 100;
	background: none;
	color: rgba(0,0,0,0);
	/*color: #fff;*/
	border: none;
	text-align: center;
	display: block;
	padding: 0;
	margin: auto;
}


.checkbox {
	position: absolute;
	left: 5%;
	z-index: 10000;
	height: 60px;
	width: 60px;
	/*border-radius: 50%;*/
}

.card .card-arrow {
	position: absolute;
	right: 0;
	top: 0;
	width: 20%;
	text-align: center;
	line-height: 60px;
}

/* Avatar */

.avatar {
	width: 110px;
	height: 110px;
	border-radius: 50%;
	margin: auto;
	text-align: center;
}

.avatar .date {
	font-size: 30px;
	font-weight: bold;
	padding-top: 40px;
	margin-bottom: 5px;
}

.avatar .handicap {
	font-size: 40px;
	margin-bottom: 0;
	font-weight: bold;
	line-height: 115px;
}

#avatar_preview {
	height: 150px;
	display: block;
	width: 150px;
	margin: auto;
	border-radius: 50%;
	background: url('../images/user.png') no-repeat center center;
	background-size: cover;
}

#avatar_preview img[src=""] {
    display: none;
}

.upload-avatar {
	display: block;
	width: 150px;
	height: 150px;
	line-height: 150px;
	border-radius: 50%;
	border: none;
	background: none;
	margin: -170px auto 0;
}

/* Section Photo Headers */

.section-image {
	display: block;
	text-align: center;
	height: 150px;
	position: relative;
	margin-bottom: 20px;
}

.section-image p {
	position: absolute;
	bottom: 5px;
	font-size: 20px;
	left: 20px;
}

.section-image span {
	color: #ccc;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
	font-size: 14px;
}

.section-image .add {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	height: 50px;
	width: 50px;
	line-height: 50px;
	color: #fff;
	text-align: center;
	font-size: 40px;
	z-index: 100;
}

.top-image {
	display: block;
	width: 100%;
	margin: 0 auto 20px;
	height: 150px;
}

/* Useful Groupings */

.first-section {
	border-top: 1px solid rgba(255,255,255,0.1);
}

.section {
	padding: 20px 0;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}

.section .comment {
	width: 90%;
	margin: auto;
}

.section .reschedule {
	width: 90%;
	margin: 20px auto;
}

/* Dropdowns
==================================*/


.dropdowns-page {
	overflow: scroll;
}

.hidden-info {
	max-height: 0px;
	padding: 0;
	overflow: hidden;
	-webkit-transition: all 0.6s;
	transition: all 0.6s;
	margin-top: 0px;
	height: auto;
}

.hidden-info p {
	width: 90%;
	margin: auto;
}

.show-info {
	height: auto;
	max-height: 800px;
	padding-bottom: 25px;
}

.dropdown-title {
	height: 50px;
	background: rgba(0,0,0,0.6);
	display: block;
	line-height: 50px;
	padding-left: 20px;
	position: relative;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}

.dropdown-title span {
	position: absolute;
	top: 0;
	right: 0;
	width: 20%;
	height: 100%;
	line-height: 50px;
	padding: 0;
	margin: 0;
	text-align: center;
	color: #fff;
}	

.dissapear {
	display: none;
}

.down-arrow {
	display: none;
}

/* In app message 
=======================================*/

.app-message {
	height: 170px;
	position: absolute;
	width: 250px;
	top: -50%;
	left: 0;
	right: 0;
	margin: auto;
	background: #5A447A;
	border-radius: 20px;	
	margin-top: -70px;
	-webkit-transition: top 0.5s;
	transition: top 0.5s;
}

.show-message {
	top: 50%;
}

.blur-content {
	-webkit-filter: blur(4.5px);
	filter: blur(4.5px);
}

.message-title {
	text-align: center;
	margin-top: 10px;
	padding: 10px 5px 5px;
	color: #fff;
	font-style: italic;
}

.message-text {
	text-align: center;
	padding: 15px;
	color: #eee;
	line-height: 1.5em;
}

.message-close {
	position: absolute;
	bottom: -20px;
	right: 0;
	padding: 20px;
	color: rgba(255,255,255,0.5);
}

.yes-no {
	text-align: center;
}

.yes-no p {
	display: inline-block;
	float: center;
	color: #fff;
	text-align: center;	
	padding: 5px 40px;
	margin: -5px 4px 0;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 30px;
}

.yes-no p:hover,
.yes-no p:active {
	background: rgba(255,255,255,0.6);
	color: rgb(255,0,34);
}

/* 9 Login
===================================*/


.back-login {
	text-align: center;
	overflow: auto;
	padding-left: 5%;
}

.back-login div {
	width: 162px;
	margin: 0 auto;
}

.back-login img {
	width: 30px;
	display: inline-block;
	float: left;
}

.back-login span {
	line-height: 40px; 
	display: inline-block;
	float: left;
	letter-spacing: 1px;
	padding: 0 3px;
}


/* Login
===================================*/

.login {
	padding-top: 20px;
}

.login-icon {
	position: fixed;
	top: -20px;
	right: -20px;
	width: 100px;
}

.login-form {
	position: relative;
}

.account-title {
	padding: 40px;

}

.login-form .form-entry {
	display: block;
	position: relative;
	background: rgba(255,255,255,0.2);
	border: none;
	height: 50px;
	border-radius: 50px;
	overflow: hidden;
}

.login-form .form-entry input {
	height: 50px;
	border: none;
	padding-left: 60px;
}

.login-form .form-entry div {
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	width: 50px;
	background: #5A447A;
}

.login-form .form-entry div i {
	line-height: 50px;
	width: 50px;
	text-align: center;
	font-size: 24px;
	display: block;
}

.login-form .btn-positive {
	background: #5A447A;
	border: none;
	color: #292929;
	font-size: 12px;
	border-radius: 40px;
}

.forgot {
	color: #aaa;
	padding-left: 6%;
}
/*
.login-video {
		-webkit-filter: blur(15px);
}
*/
.login-video,
.video-cover {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -100;
	object-fit: fill;
	-webkit-object-fit: fill;
}

.video-cover {
	z-index: 0;

	background: rgba(0,0,0,0.5);
}

.login-logo {
	display: block;
	width: 180px;
	margin: 0px auto 20px;
	z-index: 100;
}

.login-logo img {
	width: 100%;
}

.or-login {
	width: 81%;
	margin: auto;
}

.line {
	margin-top: 10px;
	height: 1px;
	background: #fff;
}

.line, .or {
	text-align: center;
	display: inline-block;
	width: 33%;
}


.visitors-link {
	display: block;
	padding: 15px 25px;
	position: fixed;
	bottom: 0;
	right: 0;
	background: rgba(255,255,255,0.5);
	color: #111;
	border-top-left-radius: 5px;
}

.center-content {
	height: auto;
	position: absolute;
	width: 100%;
	top: 20%;

}

.member .login-logo {
	margin-top: 90px;
}

.facebook-instruction {
	text-align: center;
	line-height: 25px;
	width: 90%;
	margin: auto;
}

.facebook-instruction a {
	color: #ccc;
}

.edit-instruction.text-center {
	width: 100%;
	display: block;
	text-align: center;
	margin: 10px 0;
}

input.terms {
	display: inline-block;
	float: left;
	width: 30px;
	margin-left: 5%;
	border-radius: 50%;
}

.terms-label {
	display: inline-block;
	float: left;
	margin-bottom: 30px;
}

.input-form {
	position: absolute;
	top: 50%;
	width: 100%;
	margin: auto;
	margin-top: -125px;
}

.register-title {
	font-size: 30px;
	font-weight: bold;
}

.form-entry.color-picker input {
	border: none;
	margin: 20px 0;
}

.color-picker p {
	font-size: 14px;
	color: #aaa;
	text-align: center;
}

/* Home Page 
==================================*/

.home {
	margin-top: 278px;
	padding-top: 0;
}

.home-top {
	padding-top: 30px;
	margin-bottom: -10px;	
	position: relative;
	background: linear-gradient(rgba(90,68,122,0.8), rgba(90,68,122,0.8)), url('../images/logo.png') no-repeat center center;
	background-size: 80%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}


.home-top .home-booking-button {
	position: absolute;
	top: 10px;
	right: 20px;
	height: 45px;
	width: 40px;
	border-color: rgba(255,255,255,0.3);
	border: none;
}

.home-top .home-booking-button span {
	display: block;
	padding-top: 15px;
	line-height: 45px;
	font-size: 45px;
	color: rgba(255,255,255,0.7);
}


.home-top h2 {
	padding-top: 20px;
	text-align: center;
	line-height: 18px;
	font-size: 26px;
}

.home-points {
	font-size: 16px;
	text-align: center;
	top: 205px;
	width: 100%;
	position: absolute;
}

.home-points a {
	color: #fff;
	padding-bottom: 10px;
}

.next-event h2 {
	font-variant: normal;
	font-size: 16px;
}

.social-banner .social-item {
	display: inline-block;
	width: 25%;
	float: left;
	text-align: center;
	position: relative;
}

.social-item i {
	line-height: 48px;
	font-size: 23px;
	color: #fff;
}

.messages-notification {
	width: 22px;
	position: absolute;
	top: 2px;
	right: 50%;
	margin-right: -22px;
	background: #5A447A;
	line-height: 22px;
	height: 22px;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.7);
	text-align: center;
	/*padding: 0 15px;*/
	border-radius: 10px;
	color: rgba(255,255,255,0.7);
}

/* Account
=========================*/

.account {
	margin-top: 260px;
	padding-top: 10px;
}

.account-top {
	padding-top: 50px;
	margin-bottom: -10px;	
	position: relative;
	background: linear-gradient(rgba(90,68,122,0.8), rgba(90,68,122,0.8)), url('../images/logo.png') no-repeat center center;
	background-size: 80%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.account-top h2 {
	padding-top: 20px;
	text-align: center;
	line-height: 18px;
	font-size: 26px;
}

.account-points {
	font-size: 16px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;
}

.account-points a {
	color: #fff;
	padding-bottom: 10px;
}

.account-instruction {
	display: inline-block;
	float: left;
	line-height: 14px;
	margin-left: 5%;
	margin-bottom: 20px;
	color: #ccc;
}

.change-password {
	float: right;
	margin-right: 5%;
}

/* Update Info
==================================*/


/* Change Password
==================================*/

.password {
	padding-top: 90px;
}

/* Change Photo
==================================*/

.change-photo {
	padding-top: 90px;
}

/* Rewards
==================================*/

.rewards {
	padding-top: 90px;

}

.rewards-user {
	margin: 10px 0;
}

.rewards-points {
	text-align: center;
	margin-bottom: 20px;
}

/* Bookings 
=====================================*/

.bookings {
	padding-top: 0;
	margin-top: 70px;
}

.bookings .section-image {
	height: 60px;
	margin: 0;
	border-bottom: 3px solid rgba(255,255,255,0.2);
}

.bookings .section-image.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	z-index: 100000000;
}

.bookings .card {
	border-radius: 0;
	width: 100%;
	margin: 0;
	background: none;
	border-color: rgba(255,255,255,0.1);
}


.booking-section {
	/*border-radius: 20px;*/
	/*width: 90%;*/
	margin: auto;
	/*margin-bottom: 20px;*/
	/*overflow: hidden;*/
}

.no-bookings {
	text-align: center;
	margin-top: 20px;
}

.bookings-notification {
	position: absolute;
	bottom: 12px;
	right: 20px;
	display: block;
	background: #5A447A;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	border-radius: 50%;
}

.new-booking {
	display: block;
	color: rgba(255,255,255,0.8);
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 1px solid rgba(255,255,255,0.4);
	margin: 10px auto 5px;
	text-align: center;
}

.new-booking span {
	line-height: 70px;
	font-size: 40px;
}

.new-booking-text {
	text-align: center;
	display: block;
	color: #fff;
	margin-bottom: 30px;
}


/* Current Booking
=========================================*/


.booking-status h2 {
	font-variant: normal;
}

/* Booking Form (Golf and Restaurant)
=====================================*/

.booking-form {
	border-radius: 3px;
	width: 90%;
	margin: auto;
	overflow: hidden;
}

.booking-form .card {
	width: 100%;
	border-radius: 0;
	margin: 0 auto;
}

.booking-form .card .icon {
	background: none;
	color: #5A447A;
}


/* News 
=============================*/

.news-headline {
	display: block;
	height: auto;
	background: rgba(0,0,0,0.6);
	width: 90%;
	margin: 20px auto;
	overflow: auto;
	border-radius: 5px;
	padding: 18px;
}

.news-headline .news-title {
	display: block;
	line-height: 22px;
	width: 100%;
	font-size: 16px;
}

.news-headline img {
	width: 40px;
	height: 40px;
	display: inline-block;
	float: left;
	border-radius: 50%;
	border: 2px solid #5A447A;
	padding: 4px;
}

.news-headline .news-time {
	line-height: 40px;
	font-size: 14px;
	color: #666;
	display: inline-block;
	float: left;
	width: auto;
	margin-left: 10px;
	margin-bottom: 0;
}

/* News Item
=============================*/

.news-info {
	width: 90%;
	margin: auto;
	padding: 10px;
}

.news-info img {
	width: 100% !important;
}

/* Events
=============================*/

.events .card .icon p {
	line-height: 60px;
	padding: 0;
}

.event .section .btn.btn-block {
	margin: 0 auto;
}

.event-status {
	margin-bottom: 20px;
}

/* Friends 
=======================================*/

.users {
	margin-top: 50px;
}

.friends .section {
	padding-top: 0;
	padding-bottom: 0;
}

.search-bar {
	height: 50px;
	position: fixed;
	top: 70px;
	width: 100%;
	background: #222;
	z-index: 100;
}

.search-bar i {
	display: block;
	position: absolute;
	top: 5px;
	left: 5%;
	width: 50px;
	line-height: 37px;
	text-align: center;
	color: #5A447A;
	font-size: 25px;
	vertical-align: center;
}

.search-bar input {
	width: 90%;
	position: absolute;
	top: 5px;
	height: 40px;
	left: 5%;
	padding-left: 50px;
	border-radius: 15px;
	background: rgba(255,255,255,0.1);
	border: none;
}


/* Friend
========================================*/

.friend-check {
	padding-top: 20px;
	text-align: center;
	font-size: 20px;
}

.friend-check i {
	color: #5A447A;
	padding-right: 4px;
	font-size: 24px;
}

.friend {
	padding-top: 90px;
}

.friend .handicap {
	text-align: center;
	padding-top: 15px;
}

/* Chats
===============================*/

.edit-button {
	text-align: right;
	padding: 0 5% 10px;
	line-height: 1px;
}

.icon.delete {
	position: absolute;
	top: 0;
	left: 0;
	background: #5A447A;
}

.icon.delete p {
	line-height: 50px;
}

.shortcode {
	position: absolute;
	bottom: 4px;
	left: 20%;
	color: #aaa;
	padding-left: 20px;
	font-size: 10px;
}

.shortcode span {
	padding-right: 5px;
}


/* Add Group
===============================*/

#group_avatar_preview {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.group-details {
	margin-top: 30px;

}

.group-avatar {
	background: rgba(255,255,255,0.1);
	width: 60px;
	height: 60px;
	text-align: center;
	border-radius: 50%;
	display: inline-block;
	float: left;
	margin-left: 10%;
	position: relative;
	overflow: hidden;
}

.group-avatar p {
	padding-top: 9px;
}

.group-info {
	display: inline-block;
	float: left;
	width: 60%;
	text-align: center;
	line-height: 60px;
}

.content .group-subject {
	margin: 10px 5%;
	width: 90%;
	background: rgba(255,255,255,0.1);
	border: none;
}

.icon.select {
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-top: 10px;
	margin-left: 10px;
}

.icon.select img {
	border: none;
	margin: 7px;
	height: 24px;
	width: auto;

}

/* Chat
===============================*/

.chat {
	/*margin-top: 10px;*/
}

.message-photo {
	position: absolute;
	top: 21px;
	right: 12.5px;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	background: url('../images/user.png') center center;
	background-size: cover;
	border: 1px solid rgba(255,255,255,0.4);
}

.bubble {
	background: #efe6ef;
	width: 60%;
	margin: 3%;
	margin-top: 10px;
	border-radius: 10px;
	padding: 10px;
	color: #111;
	position: relative;
}

.message p {
	color: #333;
	margin-bottom: 0;
}

.message img {
	width: 100%;
}

.message-sent .bubble {
	background: #5A447A;
	margin-left: 37%;
	color: #ccc;
	
}

.message-sent .bubble p {
	color: #ccc;
}

.message .message-info {
	position: relative;
	height: 46px;
	margin-bottom: 10px;
	margin-top: -15px;
}

.message .message-info.hide img {
	display: none;
}

.message .message-avatar {
	width: 36px;
	height: 36px;
	border: 2px solid rgba(255,255,255,0.5);
	border-radius: 50%;
	top: 10px;
	left: 3%;
	position: absolute;
}

.message-sent .message-avatar {
	right: 3%;
	left: auto;
	display: none;
}

.message-sent .message-info {
	height: 20px;
}

.message .message-time {
	position: absolute;
	width: 150px;
	top: 17px;
	left: 50px;
	margin-left: 3%;
	font-size: 12px;
	color: #aaa;
}

.message .hide {
	height: 16px;
}

.hide .message-time {
	left: 10px;
	top: 6px;
}

.message-sent .message-time {
	right: 10px;
	margin-right: 3%;
	left: auto;
	top: 6px;
	text-align: right;
}
.message .message-name {
	display: block;
	position: relative;
	top: 0;
	margin: 0;
	left: 0;
	color: #5A447A;
	font-weight: bold;
	/*font-family: 'Open Sans';*/
	margin-bottom: 5px;
}

.message-sent .message-name {
	display: none;
}

.upload-image-container {
	display: inline-block;
	float: left;
	width: 17%;
	height: 50px;
	position: relative;
}

.upload-image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	color: #fff;
	border: 1px solid rgba(255,255,255,0.5);
	text-align: center;
	line-height: 38px;
	font-size: 22px;
}

textarea {
	display: inline-block;
	height: 40px;
	width: 60%;
	margin: 5px 2% 5px 0%;
	padding-top: 8px;
	padding-left: 8px;
	float: left;
	font-size: 14px;
	color: #333;
}

.fixed-item-bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 0;
	background: #161416;
}

.message-correction {
	height: 75px;
}

.btn.send-button {
	width: 17%;
	display: inline-block;
	float: right;
	height: 40px;
	margin: 5px 2%;
	line-height: 10px;
}


/* Weather
=================================*/


.weather-title {
	text-align: center;
	margin-top: 30px;
	font-size: 24px;
}

.weather-time {
	margin-bottom: 20px;
}

.weather .forcast-day {
	text-align: left;
}


.weather-card {
	background: rgba(0,0,0,0.5);
	z-index: 0;
}

.table-view, .table-view-cell {
	background: none;
	border-top: none;
	z-index: 0;
}


/* Visitors
==================================================================================================*/

/* Home */

.home-visitors {
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.7);
	padding: 15px 28px;
	border-top-right-radius: 8px;
	color: #5A447A;
}

.quadrants {
	position: absolute;
	top: 0px;
	right: 0;
	bottom: 0px;
	left: 0;
	background: #5A447A;
}

.quadrant {
	position: absolute;
	text-align: center;
}

.quadrant .area { 
	background: rgba(51,51,51,0.3);
	position: absolute; 
	left: 0; 
	top: 0; 
	width: 100%; 
	height: 100%; 
	display: table;
	border-collapse: collapse;
}

.quadrant .area div {
	display: table-cell; 
	vertical-align: middle;
	text-align: center;
	color: #fff;
	font-size: 15px;
	position: relative;
}

.quadrant i {
	font-size: 48px;
	line-height: 48px;
	margin-bottom: 5px;
	display: block;
}

.quadrant span {
	margin-left: 5px;
}

.quadrants .t {
	top: 0;
	left: 0;
	right: 0;
	bottom: 50%;
}

.quadrants .t .area {
	border-bottom: 1px solid rgba(255,255,255,0.1);
}

.quadrants .b {
	top: 50%;
	left: 0;
	right: 0;
	bottom: 0;
}

.quadrants .b a {
	font-size: 58px;
	font-family: Arial;
	font-weight: bold;
}

.quadrants .tl {
	top: 0;
	left: 0;
	right: 50%;
	bottom: 50%;
}

.quadrants .tl .area {
	border-bottom: 1px solid rgba(255,255,255,0.1);
	border-right: 1px solid rgba(255,255,255,0.1);
}

.quadrants .tr {
	top: 0;
	left: 50%;
	right: 0;
	bottom: 50%;
}

.quadrants .tr .area {
	border-bottom: 1px solid rgba(255,255,255,0.1);
}

.quadrants .bl {
	top: 50%;
	left: 0;
	right: 50%;
	bottom: 0;
}

.quadrants .bl .area {
	border-right: 1px solid rgba(255,255,255,0.1);
}

.quadrants .br {
	top: 50%;
	left: 50%;
	right: 0;
	bottom: 0;
}

/* About */

.overlay {
	position: fixed;
	width: 0%;
	height: 0%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1000000;
	margin: auto;
	background: rgba(20,20,20,0.95);
	border-radius: 20px;
	overflow: hidden;
	transition: all 0.8s;
}

.overlay.show {
	height: 95%;
	width: 95%;
}

.overlay p {
	padding: 0 30px;
	min-width: 80vw;
}

.overlay h2 {
	padding-top: 30px;
}

.overlay span {
	position: absolute;
	top: 0;
	right: 0;
	padding: 20px;
	font-size: 28px;
	z-index: 100000;
}


#video iframe {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	height: 92%;
	margin: auto;
}


.gallery {
	margin-bottom: -20px;
}


.location-info {
	padding: 0;
	margin-top: 20px;
}

.slick-dots li button::before {
	font-size: 30px;
	top: -55px;
	color: rgba(255,255,255,0.5);
}

.slick-dots li.slick-active button::before {
	color: rgba(255,255,255,1);
}

#slider {
	padding-top: 10px;
}

#slider .slick-dots li button::before {
	top: -5px;
}

#location {
	display: block;
	width: 90%;
	height: 300px;
	margin: auto;
}

.about-graphic {
	padding-top: 30px;
	display: block;
	width: 90%;
	margin: auto;
}

.about-map {
	display: block;
	width: 90%;
	margin: 0 auto;
	border-radius: 5px;
}

iframe {
	display: block;
	margin: 20px auto 0;
	width: 90%;
	border: none;
}

/* Memberships */

.membership-text {
	padding: 20px;
}

.hidden-info.membership-text {
	padding: 0px;
}

.show-info.membership-text {
	padding: 20px;
}

.read-more {
	padding-left: 20px;
}

.memberships {
	background: linear-gradient(rgba(0,0,0,0) 70%, rgba(0,0,0,0.7)), url('../img/golf-ball.jpg') center center;
	background-size: cover;
}

/* Bookings */


/* Booking Item */

.booking-form form {
	padding-top: 30px;
}

.booking-form select {
	color: #111;
	padding: 5px 10px;
}

.booking-form textarea {
	width: 100%;
	height: 200px;
	margin-bottom: 20px;
}

.booking-form button {
	width: 100%;
}

/* Event Booking */

.icon.icon-bg img {
	border: none;
	border-radius: 0;
}

/* Contact */

.reception-text {
	padding: 10px 6% 30px;
}








